<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo">
    <img [src]="ctisLogo">
  </div>
  <div class="logo">
    <img [src]="facisaLogo">
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-no-padding developer">Desenvolvido por: Matheus Jordan</ion-title>
  </ion-toolbar>
</ion-footer>