<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      II Hackaton - Unifacisa
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon name="information"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only">
      <ion-icon name="home"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/category']" slot="start">Categorias</ion-button>
    <ion-button [routerLink]="['/product']" slot="end">Produtos</ion-button>
  </ion-toolbar>
</ion-footer>