<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      II Hackaton - Unifacisa
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/about']" slot="icon-only">
        <ion-icon name="information"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none" class="ion-no-padding content-item">
          <ion-card class="ion-no-margin total-card">
            <ion-card-title>{{ catCount }}</ion-card-title>
            <ion-card-subtitle>
              <ion-label>Produtos</ion-label>
            </ion-card-subtitle>
          </ion-card>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" class="ion-no-padding content-item">
          <ion-card class="ion-no-margin total-card">
            <ion-card-title>{{ prodCount }}</ion-card-title>
            <ion-card-subtitle>
              <ion-label>Categorias</ion-label>
            </ion-card-subtitle>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>  
  </ion-grid>
  
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/category']" slot="start" expand="block" fill="clear" class="start-btn">Categorias</ion-button>
    <ion-button [routerLink]="['/product']" slot="end" expand="block" fill="clear" class="end-btn">Produtos</ion-button>
  </ion-toolbar>
</ion-footer>