<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-toolbar>
      <ion-button slot="end" (click)="openAddModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-list>
      <ion-item lines="none" *ngFor="let prod of prodList" class="ion-no-padding">
        {{ prod.name }}
        <ion-buttons slot="end">
          <ion-button slot="icon-only">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button slot="icon-only" (click)="delete(prod)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
</ion-content>
