.header-title {
    padding-left: 16px;
}

ion-item {
    width: 100%;

    ion-label {
        font-size: 24px;
    }
}

.start-btn {
    padding-left: 16px
}

.end-btn {
    padding-right: 16px;
}

.cat-label {
    margin-bottom: 8px;
}